.the-wallet-spinner {
  border-style: solid;
  border-width: 0.75rem;
  border-radius: 5rem;
  width: 5rem;
  height: 5rem;
  animation: 1s rotate infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
