.progress-spinner-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.certificate-card-header {
  &-chip-list {
    margin-left: auto;
  }

  &-title {
    margin-left: auto;
  }
  &-subtitle {
    margin-left: auto;
  }
}
