.video-component {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;

  video {
    height: 100%;
    max-width: 100%;
  }
}
