@use "sass:map" as map;
@use '@angular/material' as mat;
@use 'src/app/modules/health-certificate/themes/health-certificate.theme' as health-certificate;
@use 'src/app/modules/pkpass/themes/pkpass.theme' as pkpass;
@use 'src/app/modules/document-module-api/themes/document-module-api.theme' as document-module-api;
@use 'src/app/modules/ui-components/ui-components.theme' as ui-components;

@include mat.core();


$the-wallet-primary: mat.define-palette(mat.$blue-gray-palette, 800);
$the-wallet-primary-lighter: mat.define-palette(mat.$blue-gray-palette, 600);
$the-wallet-accent: mat.define-palette(mat.$yellow-palette, 600);
$the-wallet-warn: mat.define-palette(mat.$red-palette, 900);

$the-wallet-primary-theme: mat.define-light-theme($the-wallet-primary, $the-wallet-accent, $the-wallet-warn);
$the-wallet-lighter-theme: mat.define-light-theme($the-wallet-primary-lighter, $the-wallet-accent, $the-wallet-warn);


@include mat.all-component-themes($the-wallet-primary-theme);
@include mat.strong-focus-indicators-theme($the-wallet-primary-theme);
@include document-module-api.theme($the-wallet-lighter-theme);
@include health-certificate.theme($the-wallet-lighter-theme);
@include pkpass.theme($the-wallet-lighter-theme);
@include ui-components.theme($the-wallet-lighter-theme);
