.video-component {
  display:flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  height: 80vh;
  overflow: hidden;

  video {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
  }
}
