/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//remove padding for camera-dialog
.camera-dialog {
  max-width: none !important;
  max-height: none !important;
  height: 100%;
  width: 100%;
  //collored header
  mat-dialog-container {
    padding: 0px !important;
  }

}

@media screen and (min-width: 600px) {
  .camera-dialog {
    max-width: 80vw !important;
    max-height: 65vh !important;
    height: auto;
    width: auto;
  }
}
