.camera-dialog-component-title {
  &-row {
    display: flex;

    .close-button {
      margin-left: auto;
    }
  }
}
.camera-dialog-camera-video {
  height: 100%;
  width: 100%;
}
.camera-dialog-content {
  //overwrite Angular-Material Specifics for Dialogs
  padding: 0px !important;
  margin: 0px !important;
  max-height: 80vh !important;
  height: 100%;
  width: 100%;
}
